<head>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
  <script type="text/javascript"></script>

  <title ng-bind="page.title"></title>
</head>

<body layout="column">
  <ui-view layout="row" layout-fill flex></ui-view>
</body>
