<div class="menu-link">
  <md-button ng-class="{'{{section.icon}}' : true}" ng-click="focusSection()" ui-sref-active="active" ui-sref="{{section.state}}">
    {{section | humanizeDoc}}
    <span class="md-visually-hidden" ng-if="isSelected()">
      current page
    </span>
  </md-button>
</div>
