<md-whiteframe>
  <div layout="column" layout-align="start start">
      <h1 class="page-header"> List of Teams </h1><br>
      <md-content>
        <md-list>
          <md-subheader class="md-no-sticky">Teams in NCAA Division {{division}} </md-subheader>
          <div flex ng-show="loading">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>

          <md-list-item ng-repeat="team in teams" class="md-3-line">
            <img flex ng-if="{{team.logo}}" ng-src="{{team.logo}}?{{$index}}" class="md-avatar" alt="" />
            <i flex class="material-icons">account_balance</i>
            <div class="md-list-item-text" layout="column" flex>
              <h3 flex >{{ team.short_name }}</h3>
              <h4 flex>{{ team.city }}</h4>
              <p  flex>{{ team.notes }}</p>
            </div>
          </md-list-item>
          <md-divider ></md-divider>
        </md-list>
      </md-content>
  </div>
</md-whiteframe>


  <!--
  <div class="row" ng-hide="explorerStarted">
    <a ui-sref="dashboard.explorer.times" class="btn btn-block btn-info" ng-click="start()" >
      Start! <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
  -->
