html, body {
}

//.ng-scope { height: 100%; }

md-toast.md-success-toast-theme {
    background-color: #72d572;//green;
}
md-toast.md-error-toast-theme {
    background-color: red;
}


@import "navbar.import.less";
@import "sidemenu.import.less";
