md-toolbar {
  h2{
    margin : 0;
  }
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}
/**
md-tab-item span {
        padding: 15px;
        margin: -15px;
}*/

.md-button {
  text-transform: none;
}
.md-tab {
  text-transform: none;
}
