<div layout="column" layout-align="start center">
  <div flex ng-hide="searched">
    <h2> Search </h2>
    {{formData}} <br>
    <md-button type="submit" class="md-raised md-primary">Submit</md-button>
  </div>
  <div flex class="alert alert-danger" ng-show="message">
      {{message}}
  </div>
  <div flex ng-show="loading">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div ng-if="searched">
    <h2> Results </h2>
    <div flex google-chart chart="avgChart"></div>
    <div flex google-chart chart="tableChart" style="width:100%;"> </div>
  </div>

  <md-button flex class="md-raised" ui-sref="core.explorer.times" ng-click="exploreAgain()" aria-label="back"> Explore Again! </md-button>
</div>
