<md-whiteframe layout="column">
    <form role="form" name="userProfileForm" ng-submit="updateProfile(userProfileForm)" novalidate>
        <md-input-container flex>
          <label>First Name</label>
          <input ng-model="profile.first_name" name="first_name" required md-maxlength="40" type="text">
        </md-input-container>

        <md-input-container flex>
          <label>Last Name</label>
          <input ng-model="profile.last_name" name="last_name" required md-maxlength="40" type="text">
        </md-input-container>
      <p> Email: {{ currentUser.emails[0].address }} </p>
      <md-button type="submit" class="md-raised" >Update Profile </md-button>
    </form>


</md-whiteframe>
